/*==================================================
University HTML5 Template
Author: Codejow
= 1- Animated Title
= 2- Boxes
= 3- about
= 4- Portofelio
= 5- Workshop
= 6- Banner
*/



@font-face {
    font-family: 'roboto';
    src: url('../fonts/Roboto-Medium.ttf');
    font-weight: normal;
    font-style: normal;

}

body {
  background: #f7f7fa;

}

 .container
{
  width: 100% !important;
}


/* 1-  Polytechnic Title
=======================================================================================
==============================================================================*/
.link {
  outline: none;
  text-decoration: none;
  position: relative;
  font-size: 6em;
  line-height: 1;
  color: #9e9ba4;
  display: inline-block;
}

.cover-social li{
    display: inline;

}
/* Nukun */
.link--nukun {
  color: #E3E8DC;
  font-weight: 800;
  text-transform: uppercase;
  overflow: hidden;
  padding: 10px 0;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  text-align: center;

}
.custom-title{
  text-align: center;
}

.link--nukun:hover {
  color: #f0f5f5;
}

.link--nukun::before,
.link--nukun::after {
  content: '';
  position: absolute;
  width: 30%;
  height: 5px;
  background: #E3E8DC;
  bottom: 0;
  left: 35%;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  -webkit-transition-timing-function: cubic-bezier(0.2,1,0.3,1);
  transition-timing-function: cubic-bezier(0.2,1,0.3,1);
}

.link--nukun::after {
  background: #ACD07A;
  -webkit-transform: translate3d(-300%,0,0) scale3d(0,1,1);
  transform: translate3d(-300%,0,0) scale3d(0,1,1);
}

.link--nukun:hover::before {
  -webkit-transform: translate3d(300%,0,0) scale3d(0,1,1);
  transform: translate3d(300%,0,0) scale3d(0,1,1);
}

.link--nukun:hover::after {
  -webkit-transform: translate3d(0,0,0) scale3d(1,1,1);
  transform: translate3d(0,0,0) scale3d(1,1,1);
}

.link--nukun span {
  color: #E3E8DC;
  display: inline-block;
  position: relative;
  -webkit-transform: perspective(1000px) rotate3d(0,1,0,0deg);
  transform: perspective(1000px) rotate3d(0,1,0,0deg);
  -webkit-transition: -webkit-transform 0.5s, color 0.5s;
  transition: transform 0.5s, color 0.5s;
  -webkit-transition-timing-function: cubic-bezier(0.2,1,0.3,1);
  transition-timing-function: cubic-bezier(0.2,1,0.3,1);
}

.link--nukun:hover span {
  color: #00b300;
  -webkit-transform: perspective(1000px) rotate3d(0,1,0,180deg);
  transform: perspective(1000px) rotate3d(0,1,0,180deg);
}


/* Media Queries */

@media screen and (max-width: 42em) {

  .link--nukun { font-size: 3.5em; }


}
@media screen and (max-width: 34em) {

  .link--nukun { font-size: 3em; }

}



/* 2- Boxes = Events/Internships/Workshops
====================================================*/
.card {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  height: 150px;
  margin: 5%;
  position: relative;
  width: 100%;
  text-align: center;
}

.card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-1:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.cards{
    margin: 40px;
    padding-top: 30px;
}
.cards .row
{
    vertical-align: middle !important;
    padding-top: 5%;
}
.cards .row h1{
    color: red;
    text-align: right;
    font-size: 60px;
}

.cards .row .span1,
.cards .row .span3{
    display: inline-block ;
padding-right: 20px;
}
.cards .row .span3{
    text-align: left;
}


@media screen and (max-width:1024px){

 .container{
    width: 100% !important;
}
 .cards .row {
    width: 100%;
 }
.cards .row .span1 h1{
font-size: 30px !important;
padding-left: 20px;
}
.cards .row .span3 {
        width: 70%;
margin-top: 0px;
}

.card {
  background: #fff;
  border-radius: 2px;
  height: 100%;
  margin: 5%;
  position: relative;
  width: 100%;
  overflow: hidden;
  text-overflow: hidden !important;
}


}


@media screen and (max-width: 768px) {
 .container{
    width: 100% !important;
}
 .cards .row {
    width: 100%;
 }
.cards .row .span1 h1{
font-size: 30px !important;
}
.cards .row .span3 {
        width: 70%;
margin-top: 0px;
}

.card {
  background: #fff;
  border-radius: 2px;
  height: 100%;
  margin: 5%;
  position: relative;
  width: 100%;
  overflow: hidden;
  text-overflow: hidden !important;
}

.box{
    margin-bottom: 2em;
    text-overflow: hidden !important;
    overflow: hidden !important;
}
}

/*boxex end*/


/*Section Title's css
=========================*/

.section-title{
	font-family: roboto;
	text-align: center;
    padding-bottom: 20px;
    text-transform: uppercase;
    padding-top: 20px;
}
.section-title b{
    font-size: 35px;
    font-weight: 600;
}
/*end*/


/* 3- About section
=======================================================================*/
 .btn-simple:hover{
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }

#about .container{
	background-position: fixed;
	padding: 10px 30px 20px 30px;
	width: 100%;
	-webkit-background-size: cover;
	background-size: cover;
}


@media screen(max-width: 1209px) {
	section .container{
		width: 100%;
	}
}


.box{
	background-color: #ffffff;
	padding: 10px;
	text-align: center;

box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.box p{
    font-weight: 350 !important;

}



@media screen and(max-width: 768px) {
    .section-title{
        font-size: 35px !important;
    }
}


/* 4- Portofelio
======================================================
   GENERAL STYLES
 ============================================================ */

.pad-top {
    padding-top:50px;
}
.pad-top-bottom {
     padding-top:20px;
      padding-bottom:30px;
}
.text-center {
    text-align:center;
}

section {
    padding:20px 0px 20px 0px;
}
p {
    line-height:30px;
    font-size:16px;
    padding:10px 0px 10px 0px;
}
 h1 {
font-weight: 900;
}
 .color-strip {
     margin:20px 0px 30px 0px;
     max-width:230px;
height: 2px;
border-top: 0;
background: #c4e17f;
border-radius: 5px;
background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

    /*=====================================
  PORTFOLIO STYLES 
    ===================================*/

#portfolio-sec {
    padding-bottom: 80px;
    padding-top: 50px;
    width: 100%;
}
#portfolio-sec .container{
  width: 100%;
}
  #portfolio-sec i {
        margin-right:5px;
        color:#fff;
        font-size:20px;
    }
    #portfolio-sec .col-xs-12.col-sm-4.col-md-3 {
        padding: 0;
    }

.portfolio-sec-wrap {
    position: relative;
    cursor: pointer;
}

#portfolio-sec a:hover {
    text-decoration: none;
}

.portfolio-sec-wrap img {
    width: 100%;
}

.portfolio-sec-wrap .portfolio-sec-inner {
    top: 0;
    background: transparent;
    opacity: .8;
    width: 100%;
    border-radius: 0;
    margin-bottom: 0;
}

    .portfolio-sec-wrap .portfolio-sec-inner h3 {
        margin: 10px 0;
    }

        .portfolio-sec-wrap .portfolio-sec-inner h3 a {
            font-size: 24px;
            color: #fff;
        }

.portfolio-sec-wrap .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    border-radius: 0;
    background-color: rgb(71, 71, 209)
;
    color: #fff;
    vertical-align: middle;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    transition: opacity 500ms;
    padding: 30px;
}

    .portfolio-sec-wrap .overlay .preview {
        bottom: 0;
        display: inline-block;
        height: 35px;
        line-height: 35px;
        border-radius: 0;
        background: transparent;
        text-align: center;
        color: #fff;
    }

.portfolio-sec-wrap:hover .overlay {
    opacity: 1;
}


.portfolio-item {
    margin-bottom: 25px;
}

/* 5- Workshop section
=======================================================*/
.workshop-img{
	width: 100%;
}

.workshop-des{
	padding-top: 20px;
	text-align: center;
	padding-right: 20px;
	padding-left: 20px;
}
.panel:hover{
    box-shadow: 0 4px 8px 0 rgba(63, 81, 181, 0.5), 0 6px 20px 0 rgba(63, 81, 181, 0.5);

}



/*
6- Banner and Footer
===================================================================================================*/

.section-heading-spacer {
    float: left;
    width: 200px;
    border-top: 3px solid #e7e7e7;
}

.banner {
    padding: 100px 0;
    color: #f8f8f8;
    background: url(../img/banner-bg-home.jpg) no-repeat center center;
    background-size: cover;
    width: 100%;
    text-align: center;
}

.banner h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 3em;
}

.banner button{
    color: black !important;
}


@media(max-width:767px) {
    .banner h2 {
        margin: 0;
        text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
        font-size: 3em;
    }

}
footer{
    margin-bottom: 0px !important;
    margin-left: 0px;
}
.copyright{
  text-align: left;
}